name: CI MLOps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Récupérer le code
      uses: actions/checkout@v4

    - name: Installer uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"

    - name: Configurer Python
      run: uv python install 3.12

    - name: Installer les dépendances
      run: uv sync --all-extras --dev

    # Note: Dans un vrai projet MLOps, les données ne sont pas dans git.
    # Ici, pour que le test passe, on va assumer que tu as DVC ou que tu génères des données dummy.
    # Pour l'instant, on lance juste les tests unitaires.
    
    - name: Lancer les tests
      # On utilise ton invoke task !
      run: uv run invoke test